@import url("https://fonts.googleapis.com/css2?family=B612+Mono&family=DM+Serif+Display:ital@0;1&display=swap");
@import "_variables";
@import "_elements";
@import "_mixins";

@import "_button";

* {
  box-sizing: border-box;
}

body {
  font-family: "DM Serif Display", monospace;
  padding: 45px;
  h1 {
    color: red;
    font-size: 50px;
    @include responsive("iphone") {
      color: yellow;
    }

    @include responsive("iphone-l") {
      color: peru;
    }
  }
}

button {
  @extend %button;
}
